<!DOCTYPE html>
<html>
<head>
	<title>BLog App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

	<link rel="stylesheet" type="text/css" href="/assets/app.css">
	<base href="/">
</head>
<body>
	
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="hrader item"><i class="code icon"></i> Blog item</div>
			<a class = "item" href="/">Home</a>
			<a class = "item" href="/blogs/new">New Post</a>
		</div>
	</div>
	<p>This is from header</p>

